<ul>
<li type="I"><a href='/yuimenus'>YUI Menus</a></li>
<li type="I"><a href='/yuimenus'>YUI Combination Elements</a></li>
<li type="I"><a href='/yuimenus'>YUI Other Stuff</a></li>
</ul>

<ul>
<li><a href='/'>Back to Index</a></li>
</ul>
