<html lang="en" class="yui3-loading">
<head>
    <script src="http://yui.yahooapis.com/3.16.0/build/yui/yui-min.js"></script>
</head>
<body class="yui3-skin-sam">
<div class="yui3-g" id="bd">
    <div class="yui3" id="main">
       <div id="productsandservices" class="yui3-menu yui3-menu-horizontal yui3-menubuttonnav">
            <div class="yui3-menu-content">
                <ul class="first-of-type">
                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.yahoo.com/">Home</a></li>
                    <li>
                        <a class="yui3-menu-label" href="#connect"><em>Connect</em></a>
                        <div id="connect" class="yui3-menu">
                            <div class="yui3-menu-content">
                                <ul>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://developer.yahoo.com/">Developer Network</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com">Flickr</a></li>
                                    <li>
                                        <a class="yui3-menu-label" href="#pim">PIM</a>
                                        <div id="pim" class="yui3-menu">
                                            <div class="yui3-menu-content">

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mail.yahoo.com">Mail</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.zimbra.com">Zimbra</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://addressbook.yahoo.com">Address Book</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://calendar.yahoo.com">Calendar</a></li>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://notepad.yahoo.com">Notepad</a></li>
                                                </ul>

                                                <ul>
                                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://messenger.yahoo.com">Messenger</a></li>
                                                </ul>
                                                
                                                <ul>
                                                    <li>
                                                        <a class="yui3-menu-label" href="#testlayer">TestLayer</a>
                                                        <div id="testlayer" class="yui3-menu">
                                                            <div class="yui3-menu-content">
                                                            
                                                            <ul>
                                                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://google.com">Google</a></li>
                                                            </ul>
                                                            
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://profiles.yahoo.com">Profiles</a> </li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com">Mobile</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mybloglog.yahoo.com/">MyBlogLog</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://pride.yahoo.com/">Pride</a></li>
                                    <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/">Upcoming</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
            </div>
        </div>
    </div>

</div>
<script>

    //  Call the "use" method, passing in "node-menunav".  This will load the
    //  script and CSS for the MenuNav Node Plugin and all of the required
    //  dependencies.

    YUI().use('node-menunav', function(Y) {

        //  Retrieve the Node instance representing the root menu
        //  (<div id="productsandservices">) and call the "plug" method
        //  passing in a reference to the MenuNav Node Plugin.

        var menu = Y.one("#productsandservices");

        menu.plug(Y.Plugin.NodeMenuNav);

        //  Show the menu now that it is ready

        menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");

    });

</script>




</body>
</html>



    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29453705-2']);
    _gaq.push(['_trackPageview']);
    </script>




    <script>
    (function() {
        var ga = document.createElement('script'); ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    }());

    (function() {
        var ya = document.createElement('script'); ya.async = true;
        ya.src = ('https:' == document.location.protocol ? 'https://s' : 'http://d') + '.yimg.com/mi/ywa.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ya, s);

        window.onload = function () {
            try {
                var YWATracker = YWA.getTracker("10001393677061", "US");
                YWATracker.submit();
            } catch (eYWATCUnavailable) {
                if (window.console && window.console.warn) {
                    window.console.warn(eYWATCUnavailable.message || "Unknown error");
                }
            }
        };
    }());
    </script>



