<html lang="en" class="yui3-loading">
<head>
    <script src="http://yui.yahooapis.com/3.16.0/build/yui/yui-min.js"></script>
</head>
<body class="yui3-skin-sam">
<div class="yui3-g" id="bd">
    <div class="yui3" id="main">
		<div>
		   <div id="productsandservices" class="yui3-menu yui3-menu-horizontal yui3-menubuttonnav">
				<div class="yui3-menu-content">
					<ul class="first-of-type">
						<li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/">Home</a></li>
						<li>
							<a class="yui3-menu-label"><em>Menu Items</em></a>
							<div id="menuitems" class="yui3-menu">
								<div class="yui3-menu-content">
									<ul>
										<li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://developer.yahoo.com/">Yahoo</a></li>
										<li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com">Flickr</a></li>
										<li>
											<a class="yui3-menu-label">Submenu</a>
											<div id="submenu" class="yui3-menu">
												<div class="yui3-menu-content">

													<ul>
														<li class="yui3-menuitem yui3-menuitem-disabled"><a class="yui3-menuitem-content" href="http://reddit.com">Reddit</a></li>
													</ul>
													
													<ul>
														<li>
															<a class="yui3-menu-label" href="#testlayer">DeepMenu</a>
															<div id="testlayer" class="yui3-menu">
																<div class="yui3-menu-content">
																
																	<ul>
																		<li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://google.com">Google</a></li>
																	</ul>
																
																</div>
															</div>
														</li>
													</ul>
													
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
    </div>
</div>
<script>
    //  Call the "use" method, passing in "node-menunav".  This will load the
    //  script and CSS for the MenuNav Node Plugin and all of the required
    //  dependencies.

    YUI().use('node-menunav', function(Y) {

        //  Retrieve the Node instance representing the root menu
        //  (<div id="productsandservices">) and call the "plug" method
        //  passing in a reference to the MenuNav Node Plugin.

        var menu = Y.one("#productsandservices");

        menu.plug(Y.Plugin.NodeMenuNav);

        //  Show the menu now that it is ready

        menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");

    });
</script>
</body>
</html>